<FilesMatch "\.php$">
    SetHandler application/x-httpd-ea-php82
</FilesMatch>

# Tell PHP to use the custom php.ini in this folder
suPHP_ConfigPath /home/biturvnu/public_html/api_erp_biture
SetEnv APP_ENV production